.intercom {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    padding-left: 17vw;
    background: repeating-linear-gradient(-45deg,
            #c1541e,
            #c1541e 10px,
            var(--orange-shadow) 10px,
            var(--orange-shadow) 20px);
    margin: 5vw;
    margin-top: 0;
    margin-bottom: 2vw;
    border-radius: 5vw;
    box-shadow: inset 0.5vw 0.5vw 0 1vw #18160fcf;
}

.intercom-box {
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vw;
    background-color: #312A20;
    box-shadow: -0.5vw -1vw 0 0.5vw #453e34;
    border-radius: 4vw;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}


.intercom-speaker {
    display: flex;
    flex-direction: horizontal;
}

.intercom-grate {
    width: 2vw;
    margin: 0.5vw;
    margin-top: 2vw;
    background-color: #221B0F;
    box-shadow: inset 1vw 1vw black;
    border-radius: 4vw;
}

.intercom-button {
    background-color: transparent;
    border: 1vw solid #C2C2C2;
    width: 6vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 1vw;
    position: relative;
    box-shadow: 0 0.4vw 0 #767676;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.intercom-button::before {
    content: '';
    width: 5vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #C2C2C2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.4vw 0 #767676;
    transition: ease-in-out 0.1s;
}

.intercom-button:hover {
    box-shadow: 0 0.2vw 0 #767676;
    transform: translateY(0.2vw);
}

.intercom-button:hover::before {
    box-shadow: 0 0.2vw 0 #767676;
}

.wheel-wrapper {
    position: relative;
    height: 17vw;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1vw #70685d;
    border-radius: 50%;
    transform: translateX(-11vw);
}

.intercom-wheel {
    height: 15vw;
    aspect-ratio: 1 / 1;
    background-color: #312A20;
    border-radius: 50%;
    border-width: 1.1vw;
    border-color: #4d4131;
    border-style: dashed;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: transform ease-out .5s;
    transform-origin: center;
}

.intercom-wheel::before {
    content: '';
    width: 15.1vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #4d4131;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.wheel-icon {
    position: absolute;
    height: 3vw;
    width: 3vw;
    z-index: 2;
    margin: 0.5vw;
    user-select: none;
    filter: invert();
}

.top-icon {
    top: 0;
    right: 6vw;
}

.right-icon {
    top: 6vw;
    right: 0;
}

.bottom-icon {
    bottom: 0;
    right: 6vw;
}

.left-icon {
    bottom: 6vw;
    left: 0;
}

.click-me-arrow {
    border-top: 0.5vw solid transparent;
    border-bottom: 0.5vw solid transparent;
    border-right: 1vw solid black;
    transform: translate(-9vw, 0) scale(2);
}

.click-me-title {
    transform: translate(-8vw, 0);
    font-size: 3vw;
    font-family: Futura, sans-serif;
    color: black;
}