.board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    height: 40vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
    background-color: var(--slate);
    border: solid var(--slate-deep) 1vw;
    border-radius: 3vw;
    align-items: center;
    position: relative;
    transition: .3s ease-out;
    box-shadow: inset .5vw .5vw var(--ink);
}

.note {
    position: relative;
    width: 24vw;
    aspect-ratio: 1 / 1;
    background-color: white;
    margin: 1vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Futura, sans-serif;
    font-size: 1.5vw;
    transition-delay: 1s;
    color: black;
    padding: 1vw;
}

.first {
    background-color: rgb(232, 157, 157);
    top: 5vw;
    transform: rotate(3deg);
}

.second {
    top: -5vw;
    background-color: rgb(169, 207, 194);
    transform: rotate(-3deg);
}

.third {
    top: 3vw;
    background-color: rgb(225, 226, 147);
    transform: rotate(1deg);
}