.printer-container {
    display: flex;
    width: 100%;
    height: 50vw;
    flex-direction: column;
    background-color: light-dark(var(--orange), #953126);
    justify-content: top;
    align-items: center;
    border-radius: 3vw;
    margin-top: 4vw;
    box-shadow: 0 1vw light-dark(var(--orange-deep), #b74336);
}

.printer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    margin: 2vw;
    height: 8vw;
    width: 50%;
    max-height: 10vw;
    border-radius: 2vw;
    background: repeating-linear-gradient(-45deg,
            light-dark(#cd6f11, #68231c),
            light-dark(#cd6f11, #68231c) 10px,
            light-dark(#914f0c, #8a3128) 10px,
            light-dark(#914f0c, #8a3128) 20px);
    box-shadow: inset 0.5vw 0.5vw 0 0.5vw light-dark(#6a3908, #411511);
}

.arrows {
    display: flex;
    flex-direction: row;
    margin-left: -13vw;
}

.arrow {
    --r: 0.7vw;
    width: 9vw;
    top: 0px;
    aspect-ratio: 1/cos(30deg);
    --_g: calc(tan(60deg)*var(--r)) bottom var(--r), red 98%, #0000 101%;
    -webkit-mask:
        conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2), #000 60deg, #0000 0) 0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
        radial-gradient(var(--r) at 50% calc(2*var(--r)), #000 98%, #0000 101%),
        radial-gradient(var(--r) at left var(--_g)),
        radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: #ffee82;
    transform: rotate(30deg);
    cursor: pointer;
    position: relative;
    transition: ease-in 0.1s;
    margin-top: -1vw;
}

.left-shadow {
    background-color: #a59946;
    cursor: default;
    left: 9vw;
    top: 0.6vw;
}

.right-shadow {
    background-color: #a59946;
    cursor: default;
    left: 14vw;
    top: 0.6vw;
}

.arrow:hover {
    top: 0.3vw;
}

.left-shadow:hover {
    top: 0.6vw;
}

.right-shadow:hover {
    top: 0.6vw;
}

.no-hover:hover {
    top: 0.6vw;
}

.opposite {
    transform: rotate(-30deg);
    margin-right: 5vw
}

.print-button {
    background-color: transparent;
    border: 1vw solid var(--sage-light);
    width: 8vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 1vw;
    left: 4vw;
    position: relative;
    box-shadow: 0 0.6vw 0 var(--sage);
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.print-button::before {
    content: '';
    width: 6vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--sage-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.6vw 0 var(--sage);
    transition: ease-in-out 0.1s;
}

.print-button:hover {
    margin-top: 1.5vw;
    box-shadow: 0 0.3vw 0 var(--sage);
}

.print-button:hover::before {
    box-shadow: 0 0.3vw 0 var(--sage);
}

.printerScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura, sans-serif;
    font-size: 13vw;
    line-height: 13vw;
    color: white;
    text-shadow: .5vw 0px #0f1810;
    background: repeating-linear-gradient(-45deg,
            #162617,
            #162617 10px,
            #233825 10px,
            #233825 20px);
    width: 95%;
    height: 20vw;
    border-radius: 1vw;
    padding-right: 2vw;
    box-shadow: inset 0.5vw 0.5vw 0 1vw #0f1810;

}

.typed-text {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    padding-right: 3%;
    width: 1vm;
    /* Adjust as needed */
    animation:
        typing 2s steps(10, end),
        blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.printer-paper {
    width: 80%;
    height: 2vw;
    margin-top: 2vw;
    background-color: black;
    position: relative;
    z-index: 1;
}

.printer-paper::before {
    content: "";
    position: absolute;
    top: 1vw;
    left: +2vw;
    width: calc(100% - 4vw);
    height: 3vw;
    background-color: white;
    transition: ease-in-out 0.3s;
}


.printer-paper:hover::before {
    height: 12vw;
}