body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura, sans-serif;
}

.title {
    font-size: 6vw;
    font-family: Futura, sans-serif;
    color: light-dark(black, white);
    line-height: 5vw;
}

.sideLines {
    background-color: reds;
    width: 20vw;
    height: 2vw;
    border-radius: 0 2vw 2vw 0;
    box-shadow: none;
    position: relative;
    top: -2.6vw
}

.Blue {
    background-color: var(--teal);
}

.Pink {
    background-color: var(--pink);
}

.sideLines::before {
    background-color: inherit;
    content: '';
    width: 25vw;
    height: inherit;
    border-radius: 0 2vw 2vw 0;
    position: absolute;
    top: 3.7vw;
    transform: translate(-40%, -50%);
    box-shadow: none;
}

.sideLines::after {
    background-color: inherit;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 0 2vw 2vw 0;
    position: absolute;
    top: 6.4vw;
    transform: translate(-50%, -50%);
    box-shadow: none;
}

.heading {
    align-items: center;
    height: 10vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.img-section {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.text-box {
    font-size: 2vw;
    font-family: Futura, sans-serif;
    font-weight: 500;
    padding: 2vw;
    width: 100%;
    text-align: left;
    color: light-dark(black, white);
}

.White {
    color: White;
}

.text-box b {
    font-family: Futura, sans-serif;
}

.box {
    width: 50vw;
    height: 50vw;
    border-radius: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    aspect-ratio: 1 / 1;
    background-color: var(--orange);
    object-fit: cover;
    object-position: 100%;
}

.hide {
    width: 0;
    height: 0;
    object-fit: cover;
    background-image: none;
    opacity: 0;
}

.Orange {
    background-color: var(--orange);
}

.big {
    font-size: 3vw;
}

@media (prefers-reduced-motion: no-preference) {
    .left {
        transform: translateX(-10vw);
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    .right {
        transform: translateX(10vw);
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    .bottom {
        transform: translateY(10vw);
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry 0 50vw;
    }


    @keyframes fade-in {
        to {
            transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.yellow {
    background-color: #e1a121;
}


.slot-col {
    display: flex;
    flex-direction: column;
    margin: 3vw;
    top: 2vw;
    border-radius: 2vw;
    box-shadow: 0 -2vw 0 0 var(--teal-deep);
    position: relative;
}

.slot {
    display: flex;
    width: 25vw;
    height: 5vw;
    background-color: var(--slate);
    border: solid var(--teal-deep);
    box-shadow: inset 0 0 0 0.1vw var(--teal-deep);
    justify-content: center;
    align-items: end;
}

.card {
    user-select: none;
    width: 22vw;
    height: 4vw;
    background-color: white;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in 0.2s;
    color: black;
}

.card:hover {
    height: 6vw;
}

.hoz-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.vert-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section {
    width: 80%;
    grid-template-columns: auto auto auto;
    display: inline-grid;
    margin: 2vw;
}

.skill-section-mobile {
    grid-template-columns: auto auto auto;
}

.skill-square {
    display: flex;
    height: 5vw;
    background-color: light-dark(#ffb862, #132e86);
    margin: 0.2vw;
    transition-duration: 1s;
    border-radius: 1vw;
    font-size: 3vw;
    justify-content: center;
    position: relative;
    align-items: center;
    color: white;
    line-height: 4vw;
    user-select: none;
}

.skill-mobile {
    height: 10vw;
    font-size: 5vw;
}

.home {
    margin-top: 0vw;
}

.skill-square:hover {
    background-color: var(--orange);
    transition-duration: .2s;
    margin-top: -0.4vw;
    margin-bottom: 0.8vw;
    transform: scale(1.05);
    z-index: 2;
    user-select: none;
}